@CHARSET "UTF-8";

.body {
	background-color:white;
}
.form {
}
.table {
	position: relative;
	left: 30px;
	top: 100px;
	width:300px;
}
.borderedTittleTable {
	background: #FF5000;
	color: black;
	font-weight: bold;
	font-family: Verdana;
	border: solid #F01A00;
	border-width: thin;
	padding: 2px 2px 2px 6px;
	margin: 2px;
	font-size:12px;
}
.borderedTable {
	background: #FFC998;
	color: black;
	font-weight: bold;
	font-family: Verdana;
	border: solid #F01A00;
	border-width: thin;
	padding: 2px 2px 2px 6px;
	margin: 2px;
	text-align: center;
	font-size:10px;
}
.link {
	background: #FFC998;
	font-weight: bold;
	font-family: Verdana;
	border: solid #F01A00;
	border-width: thin;
	padding: 2px 2px 2px 6px;
	margin: 2px;
	text-align: center;
	font-size:10px;
}
.spanText {
	text-align: center;
}
.buttonAddItem {
	position:relative;
	left:50px;
	top: 130px;
	width:100px;
}
.buttonGoUser {
	position:relative;
	left:90px;
	top: 130px;
	width:70px;
}
.buttonGoCategory {
	position:relative;
	left:130px;
	top: 130px;
	width:100px;
}
.buttonGoLocation {
	position:relative;
	left:170px;
	top: 130px;
	width:100px;
}
.buttonGoType {
	position:relative;
	left:210px;
	top: 130px;
	width:120px;
}
.buttonGoHardware {
	position:relative;
	left:250px;
	top: 130px;
	width:120px;
}