@CHARSET "UTF-8";

.body {
}
.form {
}
.table {
	position: relative;
	left: 30px;
	top: 100px;
	width:300px;
}
.borderedTittleTable {
	background: #DEDEDE;
	color: gray;
	font-weight: bold;
	font-family: Verdana;
	border: solid #014A07;
	border-width: thin;
	padding: 2px 2px 2px 6px;
	margin: 2px;
	font-size:12px;
}
.borderedTable {
	background: #DEDEDE;
	color: gray;
	font-weight: bold;
	font-family: Verdana;
	border: solid #F48606;
	border-width: thin;
	padding: 2px 2px 2px 6px;
	margin: 2px;
	text-align: center;
	font-size:10px;
}
.spanText {
	text-align: center;
}
.buttonAddItem {
	position:relative;
	left:50px;
	top: 130px;
	width:100px;
}
.buttonGoUser {
	position:relative;
	left:90px;
	top: 130px;
	width:70px;
}